/* 自定义主题 */
:root {
  --vp-c-brand: #0011ff;
  --vp-c-brand-light: #747bff;
  --vp-button-brand-border: #747bff;

  --vp-button-brand-hover-bg: #5058f5;
  --vp-button-brand-active-border: #5058f5;
  --vp-button-brand-hover-border: #3740f5;
}

.VPNavBarSearch{margin-right: 140px;}

@media screen and (max-width: 1240px) {
.VPNavBarSearch{width: 40px; margin-right: 0px;}
}