/* 自定义主题 */
:root {
  /* 主题颜色 */
  --vp-c-brand: #0011ff;

  --vp-c-brand-light: #747bff;

  /* 按钮颜色 */
  --vp-button-brand-border: #747bff;
  /* 按钮背景(鼠标移过) */
  --vp-button-brand-hover-bg: #5058f5;
  /* 按钮边框颜色(选中) */
  --vp-button-brand-active-border: #5058f5;
  /* 按钮边框颜色(鼠标移过) */
  --vp-button-brand-hover-border: #3740f5;
  --vp-c-brand-dark: #0011ff;

  --vp-home-hero-name-background: linear-gradient(120deg, #0011ff 30%, #4ba4fc);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0011ff 50%, #4ba4fc 50%) !important;
  --vp-home-hero-image-filter: blur(72px);
  --vp-home-hero-name-color: transparent;
}

/*  */
.VPFeature[data-v-549c013f]{
  border: 1px solid #ddd;
  background-color: transparent;
}

.VPFeature[data-v-549c013f] .box{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.VPFeature[data-v-549c013f] .icon[data-v-549c013f]{
  background-color: transparent;
}

/* 搜索框 */
.VPNavBarSearch {
  flex-grow: 1;
}

.DocSearch-Button {
  height: 40px;
  border-radius: 20px;
  padding-left: 12px;
  background-color: #f9f9f9;
  border: 1px solid transparent;
  transition: border-color .3s ease;
}

.DocSearch-Button:hover {
  background-color: #f9f9f9;
  border-color: #0011ff;
}

/* 暗黑模式 搜索框 */
.dark .DocSearch-Button {
  background-color: #313136;
}

.dark .DocSearch-Button-Placeholder {
  color: #818e92;
}

/* 移动端搜索框 */
@media screen and (max-width: 767px) {
  .VPNavBarSearch {
    flex-grow: 0;
  }

  .DocSearch-Button {
    background-color: transparent;
  }

  .DocSearch-Button:hover {
    background-color: transparent;
    border-color: transparent;
  }
}